
<!DOCTYPE html>
{% load static %}
<html lang="en">
    
{% block foo %}
{% include "head.html" %}
{% endblock %}


{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<body class="container justify-content-center text-center">
    

    <img src="{% static 'img/Chatbot.png' %}" alt="Girl in a jacket" width="500" height="600">
    

    {{mensaje}}
    <h1> {{saludo}}</h1>
    {% block content %}
    <form action="/accion/" class="form-signin" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <input type="submit" value="Login"  class="btn btn-primary" />
        {% endbuttons %}
    </form>

    {% endblock %}
</body>

</html>